@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato/Lato-Regular.ttf') format('truetype'); 
  
}



body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  margin:0;
  padding:0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:'Lato'
}
